* {
  margin: 0px;
  padding: 0px;
}
:root {
  --black: #212517;
  --darkgreen: #374709;
  --green: #759242;
  --white: #f2f2ef;
  --vanilla: #f6f3e6;
  --font-sizeM: 22px;
  --font-sizeS: 18px;
}
.wrapper {
  height: 100vh;
  background: var(--white);
}
p{
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 15px;
  padding: 0px 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px 1px rgba(141, 141, 141, 0.47);
  border-radius: 8px;
}
ul {
  display: grid;
  padding-left: 0px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.fa-solid {
  margin: 0rem 0.5rem;
  color: var(--white);
  font-size: var(--font-sizeM);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(117, 146, 66);
  padding: 0.8rem 1.5rem;
  width: 100%;
}
.search {
  width: 50%;
}
.input {
  height: 30px;
  width: 70%;
  background: var(--white);
  border-style: none;
  border-radius: 15px;
  padding: 0.5rem;
}
.setting{
  cursor: pointer;
}
.layer-popup {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.152);
  background: var(--vanilla);
  font-size: var(--font-sizeM);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--green);
  border-radius: 15px;
  position: absolute;
  top: 4rem;
  right: 1.5rem;
}
#after {
  display: none;
}
#before {
  display: none;
}
.layer-popup > a:hover{
  color: var(--green);
}
.main-section {
  margin: 20px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: var(--font-sizeM);
  border-bottom: 1px solid var(--darkgreen);
}
.story {
  font-size: var(--font-sizeS);
  color: var(--black);
  width: 100%;
  height: 90%;
}

.sign-popup{
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.152);
  background: var(--vanilla);
  font-size: var(--font-sizeM);
  display: none;
  align-items:flex-start;
  flex-direction: column;
  width: 300px;
  padding: 3rem 2rem 0px 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-popup > div{
  padding-bottom: 2rem;
}

input{
  border: none;
  background: var(--vanilla);
  font-size: var(--font-sizeS);
}

.b{
  width: 300px;
  margin-top: 2rem;
  display: flex;
  align-self: center;
  justify-content:space-between;
  border-top: 1px solid var(--green);
}
.b>button{
  width: 150px;
  padding: 1rem;
  background: var(--vanilla);
  border: none;
}