* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-color: #212517;
  --base-color: #a9d06a;
  --background-color: #f2f2ef;
  --popup-color: #deeacc;
  --icon-color: #f2f2ef;
  --icon-size: 30px;
  --font-sizeM: 22px;
  --font-sizeS: 18px;
}
[data-theme='yellow']{
  --font-color: #584534;
  --icon-color: #957961;
  --base-color: #F6D776;
  --background-color: #f2f2ef;
  --popup-color: #f6f3e6;
}
[data-theme='blue']{
  --font-color: #333A73;
  --icon-color: #333A73;
  --base-color: #8ec3e6;
  --background-color: #FFF6E9;
  --popup-color: #BBE2EC;
}
[data-theme='purple']{
  --font-color: #392467;
  --icon-color: #392467;
  --base-color: #c38ecf;
  --background-color: #FFF6E9;
  --popup-color: #FFD1E3;
}
[data-theme='black']{
  --font-color: #F7F7F7;
  --icon-color: #F7F7F7;
  --base-color: #393E46;
  --background-color: #121212;
  --popup-color: #393E46;
}
.wrapper {
  height: 100vh;
  background: var(--background-color);
}
p{
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 15px;
  padding: 0px 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px 1px rgba(141, 141, 141, 0.47);
  border-radius: 8px;
}
.fa-solid {
  margin: 0rem 0.5rem;
  color: var(--icon-color);
  font-size: var(--icon-size);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--base-color);
  padding: 0.8rem 1.5rem;
  width: 100%;
}
.search {
  width: 50%;
}
.input {
  height: 30px;
  width: 70%;
  background: var(--background-color);
  border-style: none;
  border-radius: 15px;
  padding: 0.5rem;
}
.setting{
  cursor: pointer;
}
.layer-popup {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.152);
  background: var(--popup-color);
  font-size: var(--font-sizeM);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--base-color);
  border-radius: 15px;
  position: absolute;
  top: 4rem;
  right: 1.5rem;
}
#after {
  display: none;
}
#before {
  display: none;
}
.layer-popup > a:hover{
  color: var(--base-color);
}
.main-section {
  margin: 20px;
}
.note-container{
  display: grid;
  padding-left: 0px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}
.title {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-sizeM);
  border-bottom: 1px solid var(--font-color);
}
.story {
  font-size: var(--font-sizeS);
  color: var(--font-color);
  width: 100%;
  height: 90%;
}

.sign-popup{
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.152);
  background: var(--popup-color);
  font-size: var(--font-sizeM);
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  width: 300px;
  padding: 3rem 2rem 0px 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup{
  display: none;
}
#signin{
  display: none;
}

.sign-popup > div{
  padding-bottom: 2rem;
}

input{
  border: none;
  background: var(--popup-color);
  font-size: var(--font-sizeS);
}

.b{
  width: 300px;
  margin-top: 2rem;
  display: flex;
  align-self: center;
  justify-content:space-between;
  border-top: 1px solid var(--base-color);
}
.b>button{
  width: 150px;
  padding: 1rem;
  background: var(--popup-color);
  border: none;
}
.tema-popup{
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.152);
  background: var(--popup-color);
  font-size: var(--font-sizeM);
  display: none;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 170px;
  right: 3px;
  transform: translate(0%, -100%);
}